.headerMenu {
    font-size: "Noto Sans KR";
    font-size: 22px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.menuBtn {
    width: 170px;
    height: 60px;
    /* border: 2px solid black;
    background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
